#navbar{
    
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}


.maindiv{
    background-color: white;
   margin: 5%;
    overflow-x: hidden;
    border-radius: 5px;
    
}

    .input-wrapper { 
        position: relative; 
        display: inline-block; 
        /* width: 40%; */
    } 

    .input-wrapper input { 
        padding-right: 50px; 
        
    } 

    .input-wrapper button { 
        position: absolute; 
        top: 0; 
        right: 0; 
        border: none; 
        background-color: transparent; 
    } 
#for{
    display: flex;
    gap: 180px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;

}
.cool{
    background-color:rgb(227, 240, 239);
}
.image{
    width: 10px;
    display: flex;
    gap: 20px;
}
#button{
    border-radius: 40px;
    background-color: aquamarine;
}
#button3{
    border-radius: 40px;
    background-color: aquamarine;
}
.input{
    border-radius: 40px;
}
#count{
    text-align: center;
}
.img1{
    width: 20px;
}
.img2{
    width: 10px;
}
.img3{
    width: 10px;
}
.img4{
    width: 15px;
}
.amazon{
    width: 60px;
}
.i5{
    width: 50%;
    height: 20%;
   
}

.drible{
   
}
#girl{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: rgb(241,198,137);
}
.book{
    width: 20px;
}
 body{
    
 }  



@media screen and (min-width:280px) and (max-width:500px){
#navbar{
    flex-wrap: wrap;
}
#for{
    flex-wrap: wrap;
    grid-template-columns: auto;
}
.cool{
    flex-wrap: wrap;
    grid-template-columns: auto;
}
.image{
    flex-wrap: wrap;
    grid-template-columns: auto;
}
#girl{
    width: 300px;
}
}
